
<div>
    <div class="login_wrapper">
        <section id="loginForm" class="login_content">
                <h1>Login Form</h1>
                <form method="POST">
                    <div>
                        <input type="text" class="form-control" placeholder="Email"  name="your_name" [(ngModel)]="securityService.userModel.userName">
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="Password"  name="your_pass" [(ngModel)]="securityService.userModel.password">
                    </div>
                    <div >
                        <input type="submit" (click)="login()" value="Log in" class="btn btn-default" />
                        <div class="checkbox">
                            <input type="checkbox"/>
                            <label>Remember me</label>
                        </div>
                    </div>
                </form> 
           
                <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">
                        New to site?
                        <a href="#signup" class="to_register"> Create Account </a>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-hospital-o"></i> Appointment Managment System</h1>
                        <p>©2022 All Rights Reserved. CMS is Web based system to automate doctor appointment operations</p>
                    </div>
                </div>

                    <p>
                        <a href="/Register">Register as a new user</a>
                  
                    </p>
                
                    <p>
                        <a href="/ForgotPassword">Forgot your password?</a>
                     
                    </p>
            
        </section>
    </div>

</div>






